
{% extends 'devaccounts/main.html' %}
{% load static %}

{% comment %}<link rel="stylesheet" href="{% static 'css/jobpanel.css' %}"> {% endcomment %}
    {% block content %}
    {% include 'devaccounts/searchbar.html' %}

    <div class="container" style="color:#4f7d92;margin-top: 20%; width: 80%;">


    <div style="margin-top:-130px;margin-right:5px;margin-bottom:12%;width: 49%;border-color: blue-grey;border-width: thin;border-width: thin;">
      <div class="card" style="border-color: blue-grey;border-width: thin;border-style: solid;">
        <div class="card-content white-text" >
          <span style="display: inline;color:#4f7d92" class="card-title">Job Title</span>
          <h6 style="color:#4f7d92">Company Name</h6>
          
          <p style="color:#4f7d92">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Full Page</a>
        </div>
      </div>
    </div>
    <!-- BREAK -->
    <div style="margin-top:-130px;margin-right:5px;margin-bottom:12%;width: 49%;border-color: blue-grey;border-width: thin;border-width: thin;">
      <div class="card" style="border-color: blue-grey;border-width: thin;border-style: solid;">
        <div class="card-content white-text" >
          <span style="display: inline;color:#4f7d92" class="card-title">Job Title</span>
          <h6 style="color:#4f7d92">Company Name</h6>

          <p style="color:#4f7d92">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">Full Page</a>
        </div>
      </div>
    </div>
    </div>
    {% endblock %}
