{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>ExaBridge</title>
  <script src="https://unpkg.com/react@15/dist/react.min.js">  </script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/registeration_form.css' %}">

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js" type="text/javascript" /> -->

</head>

<body>
  {% include 'devaccounts/navbar.html' %}

  {% block content %}
  {% endblock %}

  {% comment %}{% include 'devaccounts/jobpanel.html' %} {% endcomment %}

  {% comment %} {% include 'devaccounts/react.html' %}
  <div id="root"></div> {% endcomment %}

</body>

</html>