<nav style="margin-bottom: 1px;background-color: #546e7a;">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">ExaBridge</a></li>
    </ul>
    <ul id="nav-mobile" class=" hide-on-med-and-down" style="margin-left: 45%;">

      {% if user.is_authenticated %}

      <li><a href="sass.html">Hello {{ user.first_name }}!</a></li>
      {% else %}
      <li><a href="sass.html">Hello </a></li>



      {% endif %}



    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Disccusion</a></li>
      <li><a href="sass.html">Events</a></li>


      <li><a href="{% url 'devaccounts:register' %}">Sign Up</a></li>
      <li><a href="collapsible.html">Login</a></li>

    </ul>
  </div>
</nav>