{% extends 'devaccounts/main.html' %}
{% load static %}

{% block content %}
  <div class="flex-container">
    <form id="form" action="{% url 'devaccounts:register' %}" method="POST">
      {% csrf_token %}

      <div class="row"> <i class="medium material-icons icon_FF5A5F">account_circle </i> </div>
      <div class="row">
        <div class="input-field col s6">
          <input name='firstname' id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name='lastname' id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password Comfirmation</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class='row'>
        <button type="submit" name="_submit" class="btn" style="background-color: #FF5A5F;"
          id='button'>Register</button>
      </div>
    </form>
  </div>

  {% endblock %}


